.vscode/
*Zone.Identifier
a.out
para
seq
static
dynamic
SpecifyT
dynamic_chunk_1k
dynamic_chunk_2k
dynamic_chunk_10k
dynamic_chunk_20k
dynamic_chunk_100k
dynamic_chunk_500
dynamic_chunk_500k
static_chunk_10k
static_chunk_100k
static_chunk_500k